:root {
    --settings-width: 200px;
}

.ui-base {
    position: relative;
    width: 100%;
    max-height: 100%;
    padding: 0;
    overflow-y: auto;
}

.settings-column-width {
    width: var(--settings-width);
}

.clickable-dark:hover {
    background-color: #444444;
}

.drawable {
    cursor: crosshair;
}

.grayed-out {
    color: #888888 !important;
}

.vertical-bar {
    position: absolute;
    height: 100%;
    background-color: whitesmoke;
    width: 1px;
    top: 0;
    left: 0;
    pointer-events: none;
}

.layer {
    position: relative;
    border: 1px solid #cccccc;
    width: 100%;
    height: 100px;
}

.ruler-row {
    position: relative;
    border: 1px solid #cccccc;
    width: 100%;
    height: 45px;
}

.settings-header {
    position: absolute;
    background-color: #333333;
    border-right: 1px solid #cccccc;
    height: 100%;
    left: 0;
    top: 0;
}

.ruler {
    position: absolute;
    background-color: #333333;
    height: 100%;
    left: var(--settings-width);
    right: 0;
    top: 0;
}

.layer-settings {
    cursor: pointer;
    position: absolute;
    background-color: #333333;
    border-right: 1px solid #cccccc;
    height: 100%;
    left: 0;
    top: 0;
}

.layer-settings-errors {
    background-color: #ffdedb;
    border: 1px solid #a10d00;
    border-radius: 5px;
    color: #000000;
    visibility: hidden;
}

.layer-create {
    position: absolute;
    background-color: #333333;
    height: 100%;
    left: var(--settings-width);
    right: 0;
    top: 0;
}

.layer-create-canvas {
    width: 100%;
    height: 100%;
}

.layer-vertical-drag {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    cursor: ns-resize;
}